.sj-circular-progress {
    @extend .sj-text;

	$circle-size: 160px;
	$transition-length: 1s;

	width: $circle-size;
	height: $circle-size;

	border-radius: 50%;

    .sj-circular-progress-mask, .sj-circular-progress-mask:before {
        z-index:20;
        content:"";
        width: $circle-size;
        height: $circle-size;
        position: absolute;
        -webkit-backface-visibility: hidden;
        transition: -webkit-transform $transition-length;
        transition: -ms-transform $transition-length;
        transition: transform $transition-length;
        border-radius: 50%;
    }
    .sj-circular-progress-mask {
        clip: rect(0px, $circle-size, $circle-size, $circle-size/2);

        &:before {
            clip: rect(0px, $circle-size/2, $circle-size, 0px);
            border: 10px solid $sj-primary;
        }
    }

    .sj-circular-progress-text {
        @extend .sj-text-light;

        z-index:10;
        width: $circle-size;
        height: $circle-size;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        border: 10px solid $sj-fourth;
        border-radius: 50%;
    }

    $increment: 180deg / 100;
    @for $i from 0 through 100 {
        &[data-progress="#{$i}"] {
            .sj-circular-progress-mask:nth-child(2), .sj-circular-progress-mask:before {
                @keyframes play-#{$i} {
                    from { 
                        -webkit-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }
                    to { 
                        -webkit-transform: rotate($increment * $i);
                        -ms-transform: rotate($increment * $i);
                        transform: rotate($increment * $i);
                    }
                }

                -webkit-animation: play-#{$i} .8s ease forwards;
            }
        }
    }
}
