.sj-collection-button {
    @extend .sj-text;
    @extend .sj-text-light;

    border-radius: 20px;
    border: 2px solid $sj-primary;
    display: inline-block;
    padding: 10px 20px;

    &-item {
        display: inline-block;

        a {
            @include transition(color .2s ease);

            color:$sj-text-color;
            text-decoration:none;

            &:hover {
                color:$sj-primary;
            }
        }

        border-right: 2px solid $sj-text-color;
        padding-right: 10px;
        padding-left: 5px;

        &:last-child {
            border: none;
            padding-right: 0;
        }
    }
}

