.sj-stat {
    @extend .sj-text;
    @extend .sj-text-light;

    @include font-size($sj-fontsize-big);

    display: inline-block;

    .sj-stat-unit {
        @include font-size($sj-fontsize);
        margin-left:5px;
        color: $sj-text-color-alt;
    }

    .sj-stat-text {
        @include font-size($sj-fontsize);
        margin-top: 5px;
        color: $sj-text-color-alt;
    }
}
