.sj-stat {
    @include font-size($sj-fontsize-big);

    display: inline-block;
    font-weight: 400;

    .sj-stat-unit {
        margin-left:5px;
        color: $sj-text-color-alt;
        font-weight: 400;
    }

    .sj-stat-text {
        margin-top: 5px;
        color: $sj-text-color-alt;
    }
}
