.sj-time {
	$circle-size: 60px;
	$transition-length: 1s;

	width: $circle-size;
	height: $circle-size;

	border-radius: 50%;

    .sj-time-mask, .sj-time-mask:before {
        content:"";
        width: $circle-size;
        height: $circle-size;
        position: absolute;
        -webkit-backface-visibility: hidden;
        transition: -webkit-transform $transition-length;
        transition: -ms-transform $transition-length;
        transition: transform $transition-length;
        border-radius: 50%;
    }
    .sj-time-mask {
        clip: rect(0px, $circle-size, $circle-size, $circle-size/2);

        &:before {
            clip: rect(0px, $circle-size/2, $circle-size, 0px);
            border: 5px solid $sj-primary;
        }
    }

    .sj-time-text {
        width: $circle-size - 16px;
        height: $circle-size - 16px;
        position: absolute;
        line-height: $circle-size; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 8px;
        margin-top: 8px;

        background-color: $sj-primary;
        border-radius: 50%;
    }

    $increment: 180deg / 100;
    @for $i from 0 through 100 {
        &[data-progress="#{$i}"] {
            .sj-time-mask:nth-child(2), .sj-time-mask:before {
                @keyframes play-#{$i} {
                    from { 
                        -webkit-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }
                    to { 
                        -webkit-transform: rotate($increment * $i);
                        -ms-transform: rotate($increment * $i);
                        transform: rotate($increment * $i);
                    }
                }

                -webkit-animation: play-#{$i} .8s ease forwards;
            }
        }
    }
}
