// -- selectors
*,
*:before,
*:after {
  box-sizing: border-box;
}

*[class^='sj-']{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: $sj-text-color;

    @include font-size($sj-fontsize);
}
